//=================================================================

$black: #151515;
$white: #F1F1F1;
$red: #FF4C0D;

@media (max-width: 1200px){
  .footer {
    &__img {
      width: 650px;
    }
  }
}

@media (max-width: 992px) {

  hr {
    background-color: $red;
    width: 28%;
  }

  .wrap {
    padding: 0 40px;
    box-sizing: border-box;
  }

  .text-lg {
    font-size: 30px;
  }

  .text_md {
    color: $red;
  }

  .item {
    grid-template-rows: auto auto auto;
  }

  .photo {
    display: none;
  }

  .photo-lap {
    display: block;
    width: 60%;
    margin: 0 auto;
  }

  //- buick -------------------------

  .buick_black {
    background: url('../img/buick/buick-black-laptop.png') top right / auto auto no-repeat;
  }

  .buick_white {
    background: url('../img/buick/buick-white-laptop.png') top right / auto auto no-repeat;
  }

  //- header -------------------------

  .header {
    padding-bottom: 220px;

    &__logo {
      width: 50px;
    }

    &__nav {
      display: none;
    }

    &__btn {
      display: none;
    }

    &__title {
      font-size: 40px;
    }

    &__subtitle {
      font-size: 20px;
    }

    &__mobile {
      position: fixed;
      top: 0;
      right: -100vh;
      bottom: 0;
      z-index: 999;

      width: 60%;
      max-width: 400px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 30px;

      background-color: #f7a78a;
      transition: all .3s ease-out;
      
    }

    &__mobile.active {
      right: 0;
    }

    &__mobile a:last-child {
      margin-top: 30px;
    }
  }

  //- burger ---------------------------

  .burger {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 45px;
    height: 45px;
    border-radius: 65px;
    background-color: $white;
    cursor: pointer;

    &__icon {
      position: relative;
      width: 18px;
      height: 12px;
    }

    &__line {
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: black;
    }

    &__one {
      top: 0
    }

    &__two {
      top: 50%;
      transform: translateY(-50%);
    }

    &__three {
      top: 50%;
      transform: translateY(-50%);
    }

    &__four {
      bottom: 0;
    }
  }

  //- character -------------------------

  .character {

    &__content {
      grid-template-columns: 1fr;
    }

    &__subtitle {
      width: 62%;
    }
  }

  //- speed ---------------------------------

  .speed {
    padding: 40px 0;
    height: 65cqw;
    background: url('../img/back/back-speed-lap.png') 0 0 / 100% no-repeat;

    &__title {
      margin-top: 30%;
    }
  }

  //- desing ---------------------------------

  .desing {

    &__cards {
      flex-direction: column;
      row-gap: 10px;
    }

    &__card {
      width: 60%;
      margin: 0 auto;
    }
  }

  //- secure -------------------------------
  .secure {
    &__content {
      grid-template-columns: 1fr;
    }
  }

  //- app ---------------------------------

  .store {
    margin-top: 5.6%;
  }

  //- about -------------------------------

  .about {
    height: 65cqw;
    padding: 40px 0;
    background: url('../img/back/back-about-lap.png') 0 0 / 100% no-repeat;

    &__title {
      margin-top: 40%;
    }
  }

  //- review ------------------------------

  .review {

    &__chapter,
    &__btn {
      margin-left: 40px;
    }

    &__card {
      width: 415px;
    }

    &__card h3 {
      color: $black;
    }

    &__card hr {
      background-color: $black;
    }
  }

  //- ask -------------------------------------

  .ask {
    &__content {
      width: 90%;
      grid-template-columns: 1fr;
    }

    &__content h3 {
      color: $black;
    }

    &__btn {
      margin-top: 30px;
    }
  }

  //- footer ----------------------------

  .footer {
    &__btn {
      margin-top: 5rem;
    }

    &__link {
      display: block;
    }

    &__right {
      display: none;
    }

    &__img {
      width: 450px;
    }
  }

  //- copy -----------------------------
  .copy {
    flex-direction: column;
    align-items: center;

    &__right {
      align-items: center;
    }
  }
}

@media (max-width: 640px) {

  .wrap {
    padding: 0 20px;
  }

  .text-lg {
    font-size: 25px;
  }

  .text_md {
    font-size: 16px;
  }

  .text-sm {
    font-size: 12px;
  }

  .photo-lap {
    width: 100%;
  }

  //- buick ------------------------------------

  .buick_black {
    background: url('../img/buick/buick-black-mobile.png') top right / auto auto no-repeat;
  }

  .buick_white {
    background: url('../img/buick/buick-white-mobile.png') top right / auto auto no-repeat;
  }

  .buick {
    margin: 0 auto;
  }

  //- header -------------------------------------

  .header {
    grid-template-rows: auto 1fr 1fr;
    padding-top: 25px;
    padding-bottom: 0;

    &__logo {
      width: 50px;
    }

    &__content {
      grid-row: 3/4;
    }

    &__title {
      font-size: 30px;
    }

    &__subtitle {
      width: 100%;
      font-size: 16px;
      margin-bottom: 40px;
    }
  }

  //- character ----------------------

  .character {

    &__subtitle {
      width: 100%;
    }
  }

  //- speed ---------------------------------

  .speed {
    padding: 20px 0 30px;
    height: 130cqw;
    background: url('../img/back/back-speed-mob.png') 0 0 / 100% no-repeat;

    &__logo {
      width: 46px;
    }

    &__title {
      margin-top: 80%
    }
  }

  //- desing ---------------------------

  .desing {

    &__chapter {
      width: 100%;
    }

    &__card {
      width: 100%;
    }

    &__card_one {
      background: url('../img/cards/image1-mob.png') 0 0 / 100% no-repeat;
      background-color: #0E0E0E;
    }

    &__card_two {
      background: url('../img/cards/image2-mob.png') 0 0 / 100% no-repeat;
      background-color: #0E0E0E;
    }

    &__card_text {
      padding: 71% 20px 20px;
    }
  }

  //- store --------------------

  .app {
    margin-top: 0;

    &__chapter {
    }

    &__content {
      grid-template-columns: 1fr;
    }

    &__image {
      grid-column: 1;
      margin: 0 auto;
      margin-top: 40px;
    }
  }

  .store {
    justify-content: center;
    margin-top: 40px;
  }

  .store img:nth-child(2) {
    display: none;
  }

  //- about -----------------------

  .about {
    position: relative;
    height: 160cqw;
    padding: 20px 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.49) 23%, rgba(21, 21, 21, 0.8) 55%, rgb(21, 21, 21) 61%),
      url("../img/back/back-about-mob.png") 0 0/100% no-repeat;

    &__content {
      width: 90%;
      position: absolute;
      bottom: 10%;
      left: 20px;
    }

    &__content p {
      color: $white;
    }

    &__title {
      color: $white;
    }
  }

  //- review ------------------------------

  .review {

    &__chapter,
    &__btn {
      margin-left: 20px;
    }

    &__card {
      width: 280px;
      margin-right: 20px;
    }

    &__card:nth-child(1) {
      margin-left: 20px;
    }
  }

  //- ask -------------------------------------

  .ask {
    &__content {
      gap: 30px;
    }
  }

  //- footer -----------------------------------
  .footer {
    grid-template-columns: 1fr;
    padding: 20px;

    &__left {
      width: 100%;
      align-items: center;
    }

    &__btn {
      margin-top: 2rem;
    }

    &__img {
      position: static;
      top: 16rem;
      left: 0;
      width: 100%;
      margin-top: 30px;
    }
  }

}